vnet_cidr = ""
vnet_address_space = ""
firewall_subnet_cidr = ""
resource_group = ""
resource_group_location = ""
la_monitor_containers_workspace_id = ""
workspace_random_id = ""
prefix = ""

